body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
 
    /* background-image: url('/images/reading99.jpg'); */
    /* background-repeat: no-repeat; */
    background-size:cover;

}
.body{
    background-image: url('/images/bckgroung-school.jpg');
    background-repeat: no-repeat;
    /* image-rendering: auto; */
    /* width: 1200px;
    height: 350px; */
    background-size:cover;
    /* opacity: 0.5; */
}
.image{
  height: 300px;
  width: 1200px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    /* background-color:rgb(69, 69, 236);  */
    width: 90%;
    height: 70px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: rgb(69, 69, 236);
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #4f63d4;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
.studentPageBody{
    text-align: center;
    /* background-image: url('/images/readHeader.jpg'); */
}
a{
    text-align:center;
    font-family: "comic", serif;
    color: #f8b600fd;
    text-shadow: 2px 2px 4px #380149;
    font-size: 50px;
    font-family: fantasy
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #dddddd57
}

td, th {
  border:1px solid #b176d8;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color:rgba(0, 62, 197, 0.322);
}
.inputHeight{
  height: 20px;
  display:inline-block;
}

.flex-container {
  display: flex;
}

tr:nth-child(5n+0) {
    background-color:rgb(173,255,0);

}

.fa[disabled] {
    display: none !important;
}