body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-size:cover;

}
.body{
    background-image: url('/images/kid_photo.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding-left: 20px;
}
.bodyTeacher{
  background-image: url('/images/teacher_copy_2.png');
  background-repeat: no-repeat;
  /* background-size:cover; */
  width: 1800px;
  height: 285px;
  background-image: center;
  padding-left: 20px;
}

.bodyDetailPage{
  background-image: url('/images/teacher_kids.png');
  background-repeat: no-repeat;
  height: 310px;
  padding-left: 20px;
}

.image{
  height: 300px;
  width: 1200px;
}

.alert {
  background-color: #ff4545;
  margin: 50px;
}

form {
  /* background-color:rgb(69, 69, 236);  */
  width: 90%;
  height: 70px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 2px;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: rgba(69, 69, 236, 0.755);
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
  font-family: fantasy;
  text-shadow: 2px 2px 4px #f8b600fd;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: rgba(69, 69, 236, 0.755);
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
  background:none;
  color:#380149;
  border:none;
  padding:0;
  font: inherit;
  outline:0;
  border-bottom:1px solid rgb(99, 3, 163); 
  cursor: pointer;
  font-family: fantasy;
  text-shadow: 2px 2px 4px #f8b600fd;
}
.studentPageBody{
  text-align: center;  
  /* vertical-align: text-bottom; */
}

b{
  color:  #380149;
  text-shadow: 2px 2px 4px #f8b600fd;
  font-size: 50px;
  font-family: fantasy;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 3px;
}

h1{
  text-align:center;    
  color:  #380149;
  text-shadow: 2px 2px 4px #f8b600fd;
  font-size: 40px;
  font-family: fantasy;
}

h2{
  text-align:left;   
  color:  #380149;
  text-shadow: 2px 2px 4px #f8b600fd;
  font-size: 30px;
  font-family: fantasy;
}
h4{
  text-align: center;   
  color:  #380149;
  text-shadow: 2px 2px 4px #f8b600fd;
  font-size: 25px;
  font-family: fantasy;
}
h5{
  text-align: center;   
  color:  #380149;
  text-shadow: 2px 2px 4px #f8b600fd;
  font-size: 20px;
  font-family: fantasy;
}
::placeholder { 
  color: rgb(15, 15, 119);
}
.labelClass{
  color:  #380149;
  text-shadow: 2px 2px 4px #f8b600fd;
  font-family: fantasy;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #dddddd57
}

td, th {
  border:1px solid #b176d8;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  padding: 8px;
  /* color: aquamarine */
}

tr:nth-child(even) {
  background-color:rgba(0, 62, 197, 0.322);
}

.inputHeight{
  height: 30px;
  display:inline-block;
  background-color: rgba(157, 157, 243, 0.755);
  color: rgb(15, 15, 119);
  font-family: fantasy;
  
}

.flex-container {
  display:flex; 
  color:  #380149;
  font-size:25px;
  font-family: fantasy;
  text-shadow: 2px 2px 4px #f8b600fd;
}
input{
  height: 20px;
  font-family: fantasy;
  font-size:14px;
  color:  #380149;
  text-shadow: 2px 2px 4px #f8b600fd;
}
.box input[type="text"], .box input[type="password"], .box input[type="date"]{
  border:2px solid #f8b600fd;
  border-radius:24px;
  text-align: center;
}

.box input[type="text"]:hover, .box input[type="password"]:hover, .box input[type="date"]:hover{
width:  130px;
border-color:#0bf332;
}

/* .box input[type="text"]:focus, .box input[type="password"]:focus, .box input[type="date"]:focus{
width:  180px;
border-color:#0bf332;
} */

tr:nth-child(10n+0) {
  background-color:rgb(173,255,0);

}

.fa[disabled] {
  display: none !important;
}

.bodyDetailPage{
 vertical-align: text-bottom;
}

/* .DragSchoolIcon{
  text-align: center;

} */

.BackIcon{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  align-content: left;
}
.PrintIcon{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  align-content: center;
}
.logOutButton{
  font-family: fantasy;
  font-size:14px;
  color:  #380149;  text-shadow: 2px 2px 4px #f8b600fd;

}