body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
 
    /* background-image: url('/images/reading99.jpg'); */
    /* background-repeat: no-repeat; */
    background-size:cover;

}
.body{
    background-image: url('/images/kid_photo.jpg');
    background-repeat: no-repeat;
    /* image-rendering: auto; */
    /* width: 1200px;
    height: 350px; */
    background-size:cover;
    /* opacity: 0.5; */
}
.image{
  height: 300px;
  width: 1200px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    /* background-color:rgb(69, 69, 236);  */
    width: 90%;
    height: 70px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: rgba(69, 69, 236, 0.755);
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: rgba(69, 69, 236, 0.755);
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:#380149;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid rgb(99, 3, 163); 
    cursor: pointer;
    font-family: fantasy;
    text-shadow: 2px 2px 4px #f8b600fd;
}
.studentPageBody{
    text-align: center;
    /* background-image: url('/images/readHeader.jpg'); */
}
a{
    text-align:center;
    /* font-family: "comic", serif; */
    color:  #380149;
    text-shadow: 2px 2px 4px #f8b600fd;
    font-size: 50px;
    font-family: fantasy
}

h2{
   text-align:left;
    
    color:  #380149;
    text-shadow: 2px 2px 4px #f8b600fd;
    font-size: 30px;
    font-family: fantasy;

}
h1{
   text-align:center;
    
    color:  #380149;
    text-shadow: 2px 2px 4px #f8b600fd;
    font-size: 40px;
    font-family: fantasy;

}
::placeholder { 
  color: rgb(15, 15, 119);
}
.labelClass{
   color:  #380149;
  text-shadow: 2px 2px 4px #f8b600fd;
  font-family: fantasy;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #dddddd57
}

td, th {
  border:1px solid #b176d8;
  text-align: center;
  padding: 8px;
  /* color: aquamarine */
}

tr:nth-child(even) {
  background-color:rgba(0, 62, 197, 0.322);
}
.inputHeight{
  height: 25px;
  display:inline-block;
  background-color: rgba(157, 157, 243, 0.755);
  color: rgb(15, 15, 119);
  font-family: fantasy;
  
}

.flex-container {
  display: inline-flex; 
  color:  #380149;
  font-size:24px;
  font-family: fantasy;
  text-shadow: 2px 2px 4px #f8b600fd;
}
input{
  height: 20px;
  font-family: fantasy;
  color:  #380149;
  text-shadow: 2px 2px 4px #f8b600fd;
}
.box input[type="text"], .box input[type="password"], .box input[type="date"]{
  border:2px solid #f8b600fd;
  border-radius:24px;
  text-align: center;
}

.box input[type="text"]:hover, .box input[type="password"]:hover, .box input[type="date"]:hover{

width:  180px;
border-color:#0bf332;
}
.box input[type="text"]:focus, .box input[type="password"]:focus, .box input[type="date"]:focus{

width:  180px;
border-color:#0bf332;
}


tr:nth-child(5n+0) {
  background-color:rgb(173,255,0);

}

.fa[disabled] {
  display: none !important;
}