.alert {
  background-color: #ff4545;
  margin: 50px;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-size:cover;

}
.body{
    background-image: url('/images/kid_photo.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding-left: 20px;
}
.bodyTeacher{
  background-image: url('/images/teacher_copy_2.png');
  background-repeat: no-repeat;
  /* background-size:cover; */
  width: 1800px;
  height: 285px;
  background-image: center;
  padding-left: 20px;
}

.bodyDetailPage{
  background-image: url('/images/teacher_kids.png');
  background-repeat: no-repeat;
  height: 310px;
  padding-left: 20px;
}

.box input[type="text"], .box input[type="password"], .box input[type="date"]{
  border:2px solid #3600f8fd;
  border-radius:24px;
  text-align: center;
}

.box input[type="text"]:hover, .box input[type="password"]:hover, .box input[type="date"]:hover{
/* width:  130px; */
border-color:#0bf332;
}

.bodyDetailPage{
 vertical-align: text-bottom;
}

.BackIcon{
  text-align: center;
  padding-left: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  align-content: center;
  display:flex; 
}

.comments{
  height: 120px;
  text-align: left;
  /* display:inline-block; */
 
  color: rgb(15, 15, 119);
  font-family: fantasy;
  
}
.fa[disabled] {
  display: none !important;
}

form {
  /* background-color:rgb(69, 69, 236);  */
  width: 90%;
  height: 70px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 2px;
}

.flex-container {
  display:flex; 
  color:  #380149;
  font-size:25px;
  font-family: fantasy;
  text-shadow: 2px 2px 4px #092c35fd;
}

.flex-names{
  display:flex;
  color:  #380149;
  text-align: center;
  text-shadow: 2px 2px 4px #0019f8fd;
  font-size: 35px;
  font-family: fantasy;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}

.image{
  height: 300px;
  width: 1200px;
}

input {
  margin: 5px;
  margin-bottom: 10px;
    height: 20px;
  font-family: fantasy;
  font-size:14px;
  color:  #380149;
}


.inputHeight{
  height: 30px;
  display:inline-block;
  background-color: rgba(157, 157, 243, 0.755);
  color: rgb(15, 15, 119);
  font-family: fantasy;
  
}

.inputHeightComments{
  height: 120px;
  text-align: left;
  /* display:inline-block; */
  background-color: rgba(157, 157, 243, 0.755);
  color: rgb(15, 15, 119);
  font-family: fantasy;
  
}
.logOutButton{
  font-family: fantasy;
  font-size:14px;
  color:  #380149;  text-shadow: 2px 2px 4px #f8b600fd;
}

.log-in, .log-out, .register {
  background-color: rgba(69, 69, 236, 0.755);
  border-radius: 4px;
  color: #070300;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
  font-family: fantasy;
  text-shadow: 2px 2px 4p#0019f8fd;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: rgba(69, 69, 236, 0.755);
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
  background:none;
  color:#380149;
  border:none;
  padding:0;
  font: inherit;
  outline:0;
  /* border-bottom:1px solid rgb(99, 3, 163);  */
  cursor: pointer;
  font-family: fantasy;
  text-shadow: 2px 2px 4px#0019f8fd;
}
/* .studentPageBody{
  text-align: center;  
} */
.labelClass{
  color:  #380149;
  text-shadow: 2px 2px 4px#0019f8fd;
  font-family: fantasy;
}


h1{
  text-align:center;    
  color:  #380149;
  text-shadow: 2px 2px 4px #0019f8fd;
  font-size: 40px;
  font-family: fantasy;
}

h2{
  text-align:left;   
  color:  #380149;
  text-shadow: 2px 2px 4px #0019f8fd;
  font-size: 30px;
  font-family: fantasy;
}
h4{
  text-align: center;   
  color:  #380149;
  text-shadow: 2px 2px 4px #0019f8fd;
  font-size: 25px;
  font-family: fantasy;
}
h5{
  text-align: center;   
  color:  #380149;
  text-shadow: 2px 2px 4px #0019f8fd;
  font-size: 20px;
  font-family: fantasy;
}
::placeholder { 
  color: rgb(15, 15, 119);
}


.PrintIcon{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px; 
   align-content: center;
 
}

.reachBook{
  color: blue;

}
.reachBook30{
  color: gold;

}
.reachBook20{
  color: red

}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #dddddd57;

}

td, th {
  border:1px solid #b176d8;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  padding: 8px;
  /* color: aquamarine */
}

tr:nth-child(even) {
  background-color:rgba(0, 62, 197, 0.322);
}

/* tr:nth-child(11n-9) {
  background-color:rgb(246, 13, 254);
} */