.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f8b600fd;
    padding-left: 10px;
    text-shadow: 2px 2px 4px #380149;
}

.nav {
  overflow: hidden;
  background-color: rgba(69, 69, 236, 0.755);
  font-family: fantasy

}

.nav-link {
  float: left;
  color: #f8b600fd;
  background-color: rgba(113, 113, 231, 0.783);
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  font-family: fantasy;
  border-radius:20px;
  text-shadow: 2px 2px 4px #380149;
  /* height: 20px; */
  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #15e626c4;
  height: 120px;
  /* border-radius:20px; */
}

.nav-right {
  float: right;
  height: 70px;
   /* border-radius:24px; */
}